<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>

		<section class="congthuc">
			<div class="container" style="width: 900px;">
				<div
					style="background-color: darkred; height: 50px; width: 830px; display: table">
					<b style="text-align: center; color: white;">
						<h1 class="h1-style">Công thức pha chế</h1>
					</b>
				</div>
				<br>
				<br>
				<div class="ct-content row">
					<div th:each="ct:${page.content}" class="ct-content-item row">
						<div class="ct-content-item-img">
							<img th:src="@{|/assets/images/${ct.image}|}">
							<!-- truyền hình vô đây -->
						</div>
						<div class="ct-content-item-text">
							<h3 style="color:red;">[[${ct.Title}]]</h3>
							<!-- truyền title vô đây -->
							<div>
							<p>
								<div><p><span th:text="${ct.Information.substring(0,106)}"></span>...</p></div>
								
							</p>
							</div>
							<!-- truyền nội dung vô đây -->
							<a th:href="@{|/order/congthuc/detail/${ct.id}|}"
								class="btn" style="background-color:#8B0000; color: white;">Xem ngay >></a>
							<!-- để cái link nhảy trang ở đây -->
						</div>
					</div>

					<div style="text-align: center; width: 830px;">
						<ul class="pagination">
							<li class="page-item" th:if="${page.number > 0}">
							<a class="page-link" th:href="@{|/order/congthuc?number=${page.number - 1}|}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a>
							</li>
							<li th:each="index: ${#numbers.sequence(0,page.totalPages-1)}">
							<a th:href="@{|/order/congthuc?number=${index}|}" th:text="${index + 1}">
							</a>
							</li>
							
							<li class="page-item" th:if="${page.number < page.totalPages -1 }">
							<a class="page-link" th:href="@{|/order/congthuc?number=${page.number +1 }|}"
								aria-label="Next"> 
								<span aria-hidden="true">&raquo;</span> 
								<span class="sr-only">Next</span>
									
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>